*{
    margin: 0px;
    scroll-behavior: smooth;
    color:rgb(25, 88, 104);
    
}
h1{
    text-align: center;
}
h2{
    text-decoration: underline;
}
p{
    overflow-wrap: break-word;
word-wrap: break-word; /* for older browser support */
white-space: normal;
font-size: 2.2vw;
}
#navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%; 
}
#navbar ul{
    list-style-type: none;
    padding: 0;
    background-color: rgb(199, 188, 188);
}
#navbar ul li{
    display: inline;
    font-size: 2.2vw;
    border: 0px solid rgb(199, 188, 188);
    margin: 2%;
    border-radius: 10px;
    background-color: rgb(199, 188, 188);
}
@keyframes navhover {
  0%   {background-color: rgb(199, 188, 188);border: 0px solid rgb(199, 188, 188);}
  25%  {background-color: rgb(178, 185, 180);border: 0px solid rgb(178, 185, 180);}
  50%  {background-color: rgb(159, 163, 160);border: 0px solid rgb(159, 163, 160);}
  100% {background-color: rgb(142, 146, 144);border: 0px solid rgb(142, 146, 144);}
}
li :hover{
    background-color: rgb(142, 146, 144);
    animation-name: navhover;
    animation-duration: 0.5s;
}

a{
    text-decoration: none;
    color: rgb(25, 88, 104);
}
li{
    list-style-type: none;
    display: inline-block;
    border: 0px solid rgb(199, 188, 188);
    border-radius: 30px;
    font-size: 2.2vw;
    background-color: rgb(199, 188, 188);
}
section{
    margin: 10px;
    background-color: rgb(176, 216, 230);
    border-radius: 15px;
    padding: 30px;
    margin-top: 15px;
}
.flex-container-column{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.flex-container-row{
    display: flex;
    overflow: hidden;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.flex-container-row a{
    margin: 3px;
}
footer{
    background-color: rgb(199, 188, 188);
   
    padding: 3%;
}
figure{
    
}
textarea, input {
  width: 25vw;
  padding: .8vw;
  font-family: monospace;
  font-size: 1.8vw;
  box-sizing: border-box;

}
textarea{
    
}

@media  (max-width:440px){
    p,a{
        font-size: 3.5vw;
    }
    img{
        min-width: 43vw;
        float: none;
    }
}